*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: rgba(194, 179, 255, 1);
}
#calculator{
  width: 90%;
  border:  1px solid black;
  min-width: 290px;
  max-width: 500px;
  height: auto;
  border-radius: 5px;
  box-shadow: 2px 2px 5px gray;
  background-color: gray;
  box-shadow: 2px 2px 15px gray;
  display: flow-root;
  
}
.container{
  width: 100%;
  height: auto;
  padding: 10px;
  display: flex;
  justify-content: center;
  
}
.display{
  width: 90%;
  max-width: 400px;
  height: 50px;
  border-radius: 5px;
  border: 2px solid gray;
  box-shadow: 2px 2px 5px inset;
  font-size: 2rem;
  padding-right: 10px;
  
}
.display_container{
  padding: 10px 0px;
  display: flex;
  justify-content: center;
  border-bottom: 2px solid gray;
}
.calculator_body{
  
  height: auto;
  width: 100%;
  padding: 10px 10px 30px 10px;
  display: flex;
  justify-content: center;
  background-color:rgb(81, 165, 214);

}
.calculator_buttons{
  display: grid;
  grid-template-columns: auto auto auto auto;
  margin-top: 10%;
  row-gap: 10px;
  column-gap: 10px;
  
}
button{
  cursor: pointer;
  font-size: 1.2rem;
  width: 65px;
  padding: 10px;
  color: white;
  background-color: rgb(99, 96, 96);
  border: none;
  box-shadow: 2px 2px 3px black;
  border-radius: 5px;
  
}
button:hover{
  box-shadow: 2px 2px 5px gray;

}
button:active{
  box-shadow: none;
  background-color: gray;
}
.canel_button{
  background-color: rgb(230, 71, 71);
}
.canel_button:active{
  background-color: rgb(230, 71, 71);
  opacity: 0.7;
}
.answer_button{
  background-color: lightgreen;
  color: black;
}
.answer_button:active{
  background-color: lightgreen;
  opacity: 0.7;
}
.operator_button{
  background-color: skyblue;
  color: black;
}
.operator_button:active{
  background-color: skyblue;
  opacity: 0.7;
}
.bracket_button{
  background-color: gray;
  
}
.bracket_button:active{
  background-color: gray;
  opacity: 0.7;
}
input{
  text-align: end;
  font-size: large;
  
}  
.headding{
  width: 100%;
  height: 50px;
  font-size: 1.2rem;
  display: flex;
  color: rgb(87, 86, 86);
  justify-content: center;
  padding-top: 20px;
}
.bracket_button{
  font-size: 22px;
  font-weight: bold;
}
.mode{
  font-size: .9rem;
}

